@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fs-small: 0.875rem;
    --fs-normal: 1rem;
    --fs-medium: 1.125rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 1.875rem;
    --fw-lighter: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;
  }

html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }



body{
    background-color: #1f1f1f;
    font-family:Montserrat ;
    color: white;

}


main{
    gap: 10px;
}
.content-wrapper{
    /* background-color: white;
    border-radius: 30px;
    padding: 50px;
    margin-top: 5rem;
    display: flex;
    justify-content: center; */
    gap: 20px;
    padding: 20px;
    width: 40rem;
    height: 35rem;
    background-color: #091422;
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: center;   
    border-radius: 30px;  
    flex-direction: column;
    border: 0.5px solid #305484;
}


.about-me-wrapper{
    height: 35rem;
    padding: 4rem;
    background-color: #091422;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    /* align-items: center;    
    text-align: center;    */
    border-radius: 30px;
    gap: 10px;   
    border: 1px solid #305484 ; 
}

main{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper img{
    object-position: top;
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    border-radius: 5px;
}

.svg-container{ 
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
svg{
    background-color: white;
    padding: 2px;
    height: 25px;
    width: 25px;
    fill: black;
}
.wrapper{
    display: flex;
    gap: 10px;

}

.profile{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.sosmed-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

hr{
    width: 95%;
    border: 1px solid #305484 ;
}



a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: rgb(175, 172, 175);
    cursor: pointer;
}

.content-wrapper .name{
    font-weight: bold;
    font-size: 20px;
}

.text-wrapper p{
    margin-top: 20px;
    font-size: 16px;
}

.about-me-wrapper .text-wrapper{
    
    text-align: left;
}
.about-me-wrapper .about-me{
    font-size: 1.5rem;
}

.sosmed{
    gap: 5px;
    padding: 20px;
    display: flex;
    border: 1px solid grey;
    align-items: center;
}

.item{
    text-align: center;
}

.projects-container{
    padding: 20px;  
}