@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fs-small: 0.875rem;
    --fs-normal: 1rem;
    --fs-medium: 1.125rem;
    --fs-large: 1.5rem;
    --fs-xlarge: 1.875rem;
    --fw-lighter: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-bolder: 800;
  }

html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }



body{
    background-color: #1f1f1f;
    font-family:Montserrat ;
    color: white;

}


main{
    gap: 10px;
}
.content-wrapper{

    gap: 8px;
    padding: 20px;
    width: 40rem;
    height: 37rem;
    background-color: #091422;
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: center;   
    border-radius: 20px;  
    flex-direction: column;
    border: 1px solid #305484;
}


.about-me-wrapper{
    height: 37rem;
    padding: 4rem;
    background-color: #091422;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    /* align-items: center;    
    text-align: center;    */
    border-radius: 20px;
    gap: 10px;   
    border: 1px solid #305484 ; 
}

main{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper img{
    object-position: top;
    object-fit: cover;
    width: 18rem;
    height: 18rem;
    border-radius: 5px;
}

.svg-container{ 
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.svg-container p { 
   text-align: left;
    
}
svg{
    background-color: white;
    padding: 2px;
    height: 25px;
    width: 25px;
    fill: black;
}
.wrapper{
    display: flex;
    gap: 10px;

}

.profile{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}

.sosmed-wrapper{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 2rem;
}

hr{
    width: 100%;
    border: 1px solid #305484 ;
}



a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: rgb(175, 172, 175);
    cursor: pointer;
}

.content-wrapper .name{
    font-weight: bold;
    font-size: 20px;
}

.text-wrapper p{
    margin-top: 20px;
    font-size: 16px;
}

.about-me-wrapper .text-wrapper{
    text-align: left;
}
.about-me-wrapper .about-me{
    font-size: 1.5rem;
}

.sosmed{
    gap: 5px;
    padding: 20px;
    display: flex;
    border: 1px solid grey;
    align-items: center;
}

.item{
    text-align: center;
}

.projects-container{
    display: flex;
    width: 101rem;
    background-color: #091422;
    border-radius: 20px;
    padding: 20px;  
    border: 1px solid #305484;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.project-items{
    margin-top: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.text-wrapper p{
    text-align: justify;
}

.project-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  cursor: pointer;
  
}

.card {
    background-color: #2a2d3b;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
/* .card :hover {
    background-color: #525872;   
} */

.card :hover{
    background-color: #525872;   

}
.card .description {
    padding: 15px;
    /* background-color: #1e2231; */
    height: 100%;
}


.card img{
    width: 100%;
    height: 50%;
    aspect-ratio: 2/1 ;
    object-fit: cover;
}

.tags {
    margin-top: 15px;
}

.tags span {
    background-color: #334155;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 10px;
    color: #ffffff;
}

.tags span:nth-child(1) {
    background-color: #ff9f00;
}

.tags span:nth-child(2) {
    background-color: #1d4ed8;
}

.tags span:nth-child(3) {
    background-color: #8b5cf6;
}


.technology-container{
    display: flex;
    gap: 10px;
    align-items: center;
}